
// colors
$header-bg: #fff;
$primary-text-color: #00aff0;
$link-hover-bg-color: #00aff0;
$secondary-bg-color: rgb(127, 186, 0);
$secondary-text-color: rgb(127, 186, 0);
$primary-bg-color: hsl(196, 100%, 47%);
$light-bg-color: #e4eef2;
$block-light-bg-color: #e4eef2;
$footer-bg-color: #2b5464;
$main-text-color: #fff;
$second-text-color: rgb(102, 102, 102);
$btn-primary: #00aff0;
$btn-default: #fff;
$btn-border-color: #ccc;
$btn-primary-hover: #008abd;