.section__card {
    margin: rem(40) 0;

    .grid__card {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        align-items: flex-start;
        text-align: left;
        gap: rem(30);
        padding: rem(40) 0;

        &--wrapper {
            padding: 0 rem(20);
        }

        .flex__wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: rem(20);

            @include breakpointDown(large) {
                gap: rem(150);
            }

            @include breakpointDown(small) {
                flex-direction: column;
                gap: 0;
                text-align: center;
            }
        }
    }

    .page-header {
        padding-top: rem(20);
        padding-bottom: rem(10);
    }
}

.section__card-a {

    margin-bottom: rem(30);

    .grid__card {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: rem(30);
        justify-content: center;
        align-items: flex-start;
        text-align: center;


        &--wrapper {
            padding: rem(15) rem(4);

        }
    }
}